body {
	background-color: #faf8ef;
}

#header {

}

#title {
	font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
	color: #776e65;
}

#subTitle {
	font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
	color: #776e65;
}

#gameMessage {
	font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
	color: #bbada0;
}

#content {
	width: 433px;
	margin: 0 auto;
}

#puzzleBoard {
	width: 433px;
	height: 433px;
	margin: 0 auto;
	border-radius: 4px;
	text-align: center;
	background-color: #bbada0;
	display: flex;
	justify-content: center;
}

#puzzleTable {
	align-self: center;
}

table, tr, td{
	margin: 0px;
	padding: 0px;
	border: 0px;
}

table {
    border-collapse: collapse;
    border: 1px solid #bbada0;
}

td.cellGroupA {
	background-color: #ede0c8;
}

td.cellGroupB {
	background-color: #eee4da;
}

.static, .editable{
	width: 45px;
	height: 45px;
	padding: 0px;
	margin: 0px;
    border: 1px solid #bbada0;
}


.static {
	text-align: center;
    font-size: 22px;
    color: #776e65;
    background-color: #ede0c8;
}

.editable {
	background-color: #eee4da;
}

.static > span {
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
	line-height: 45px;
}

.editable > input {
	font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
	color: #776e65;
	font-size: 22px;
	width: 45px;
	height: 45px;
	background: none;
	text-align: center;
	vertical-align: middle;;
	left: -1px;
	position: relative;
	border: 0px;
	padding: 0px;
}

#gameControllers {
	margin-top: 20px;
	display: table;
	width: 433px;
}

button.gameController{
	-webkit-appearance:default-button;
	font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
	font-size: 18px;
	color: #faf8ef;
	background-color: #776e65;
	border-radius: 7px;
	width: 128px;
	height: 40px;
	border: 0px;
}

#check {
	margin-right: 12.25px;
}

#solve {
	margin-left: 12.25px;
	margin-right: 12.25px;
}

#newGame {
	margin-left: 12.25px;
}
